module.exports = {
  AUTH0_DOMAIN: '[AUTH0_DOMAIN]',
  AUTH0_API_AUDIENCE: 'http://localhost:8085/api/',
  MONGO_URI: process.env.MONGO_URI || '[MONGODB_URI]' // e.g., 'mongodb://<user>:<password>@<host>:27017/<db>'
};
