/* You can add global styles to this file, and also import other style files */

.btn, a {
  &[disabled] {
    cursor: not-allowed;
  }
  cursor: pointer;
}
.btn-success,
.btn-danger {
  color: #fff !important;
}
.link:hover {
  text-decoration: underline !important;
}
.btn-mini {
  font-size: 11px;
  line-height: 1;
  padding: .15rem .25rem;
}
.delete {
  border-color: red;
  font-size: 14px;

  h4 {
    font-size: 16px;
    text-transform: uppercase;
  }
}
